@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  display: flex;
  background-color: rgb(249, 250, 255);
}

.stripe {
  position: absolute;
  background-color: rgba(7, 17, 37, 0.589);
  min-width: 33vw;
  top: 30vh;
}

.stripe div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stripe img {
  max-height: 50px;
  filter: invert(100%);
  margin: 15px;
}

.stripe h1 {
  color: white;
}

.main-content {
  height: 100vh;
  display: flex;
}

.padding {
  padding-left: 50px;
}

.main-content > div {
  justify-content: center;
  align-self: center;
}

/* MAIN CONTENT BODY TEXT */
.main-content > div > div {
  font-size: 20pt;
  font-weight: 600;
  padding-bottom: 20px;
}

.form-bar {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
  padding-bottom: 30px;
  padding-top: 5px;
  width: 100vw;
}

.input-fields > div {
  display: flex;
  margin-bottom: 10px;
}

.col2 {
  margin-left: 40px;
}

label {
  font-size: 0.7rem;
  font-weight: 600;
}

input {
  border: rgb(201, 200, 200) solid 1px;
  border-radius: 3px;
  width: 220px;
  height: 20px;
}

input:focus {
  outline: rgb(51, 105, 255) solid 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

input:invalid {
  border-color: red;
}

button {
  color: white;
  background-color: rgb(7, 17, 37);
  border-radius: 8px;
  border: none;
  width: 200px;
  height: 40px;
  font-weight: 600;
  margin-top: 50px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

button:hover {
  background-color: rgb(9, 37, 94);
}
