@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  display: flex;
}

.stripe {
  position: absolute;
  background-color: rgba(7, 17, 37, 0.589);
  min-width: 33vw;
  top: 30vh;
}

.stripe div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stripe img {
  max-height: 50px;
  filter: invert(100%);
  margin: 15px;
}

.stripe h1 {
  color: white;
}

.main-content {
  height: 100vh;
  display: flex;
  padding-left: 50px;
}

.main-content > div {
  justify-content: center;
  align-self: center;
}

/* MAIN CONTENT BODY TEXT */
.main-content > div > div {
   font-size: 20pt;
    font-weight: 600;
    max-width: 50vw;
}



.input-fields {
    display: flex
}

.input-fields div:nth-child(2) {
    padding-left: 80px;
}

label {
    font-size: .7rem;
    font-weight: 600;

}

input {
    border: rgb(201, 200, 200) solid 1px;
    border-radius: 3px;
    width: 220px;
    height: 20px;
}

input:focus {
    border-color: #ff0000;
  }

input:invalid {
    border-color: red;
}

button {
    color: white;
    background-color: rgb(7, 17, 37);
    border-radius: 8px;
    border: none;
    width: 200px;
    height: 40px;
    font-weight: 600;
    margin-top:50px;
